extends ../layout.pug
//- views/area/form.pug
block content
  .d-flex.justify-content-center
    form.bg-dark.text-white.p-4.rounded.shadow(action="/areas", method="POST", style="width:100%; max-width:1200px; max-height:100vh; overflow-y:auto;")
      .d-flex.justify-content-between.align-items-center.mb-3
        h1.mb-0 Crear Nuevo Area
        a.btn.btn-gray(href="/areas") Volver a la lista

      // Contenedor de 1 columnas
      .row.g-3
        .col-md-6
          .mb-3
            label.form-label(for="name_area") Nombre
            input#name.form-control(type="text", name="name_area", value=item.name_area || "", required)
          .mb-3
            label.form-label(for="description") Descripción
            textarea#description.form-control(name="description", value=item.description || "", required)

      button.btn.btn-primary.mt-3(type="submit") Crear Area
