extends layout.pug

block content
  .d-flex.flex-column.justify-content-center.align-items-center.min-vh-100
    // Mostrar información del usuario
    if user
      .alert.alert-success.w-50.text-center(role="alert")
        h3.mb-0 Bienvenido, #{user.username}!
        h4.text-muted Rol: #{user.role_id ? user.role_id.name : 'Usuario'}
    
    h1.display-1.text-center.mb-4 ClickWave
    p.lead.text-center.mb-4 La aplicación para gestionar tus proyectos
    
    .d-flex.gap-3.mt-3.flex-wrap.justify-content-center
      a.btn.btn-gray.btn-lg(href="/employees") Ir a Empleados
      a.btn.btn-gray.btn-lg(href="/projects") Ir a Proyectos
      a.btn.btn-gray.btn-lg(href="/clients") Ir a Clientes
      a.btn.btn-gray.btn-lg(href="/invoices") Ir a Facturas
  
