extends layout.pug

block content
  .d-flex.flex-column.justify-content-center.align-items-center.min-vh-100
    h1.display-1.text-center.mb-4 ClickWave
    p.lead.text-center.mb-4 La aplicación para gestionar tus proyectos
    .d-flex.gap-3.mt-3
      a.btn.btn-gray.btn-lg(href="/users") Ir a Usuarios
      a.btn.btn-gray.btn-lg(href="/projects") Ir a Proyectos
      a.btn.btn-gray.btn-lg(href="/clients") Ir a Clientes
