extend layout.pug 

block content 
    .d-flex.flex-column.justify-content-center.align-items-center.min-vh-100
        h1.display-2.text-center.mb-3 Datos no encontrados
        h2.display-4.text-center.mb-3 No pudimos obtener datos desde el servidor.
        h3.display-5.text-center.mt-5 Comuníquese con soporte técnico.