extend layout.pug 

block content 
    .d-flex.flex-column.justify-content-center.align-items-center.min-vh-100
        h1.display-2.text-center Página no encontrada
        h2.display-3.text-center La ruta que intentas acceder no existe.