extends layout-public.pug

block content
  .d-flex.justify-content-center.align-items-center.min-vh-100
    form.mt-5.text-center(style="min-width: 350px;" action="/admin" method="POST")
      // Logo de ejemplo
      img.mb-4(src="/images/logo_cw.webp" alt="Logo" width="100" height="100")
      h1.h1.mb-3.fw-normal.text-center ClickWave
      h2.fs-5.text.mb-3.fw-normal.text-center Iniciar Sesión

      // Email
      .form-floating.mb-3
        input.form-control(type="email" id="floatingInput" name="email" placeholder="nombreDeUsuario")
        label(for="floatingInput") Usuario

      // Password
      .form-floating.mb-3
        input.form-control(type="password" id="floatingPassword" name="password" placeholder="Contraseña")
        label(for="floatingPassword") Contraseña

      // Remember me
      .form-check.text-start.mb-3
        input.form-check-input(type="checkbox" value="remember-me" id="checkDefault")
        label.form-check-label(for="checkDefault") Recordarme

      // Submit
      button.btn.btn-primary.w-100.py-2(type="submit") Ingresar sin usuario ni contraseña

      // Pie de página
      p.mt-3.mb-3.text-light-emphasis © 2025 ClickWave - Eduardo Mendiola
