extends ../layout.pug
//- views/role/edit.pug
block content
  .d-flex.justify-content-center
    form.bg-dark.text-white.p-4.rounded.shadow(action=`/areas/${item.id}?_method=PUT`, method="POST", style="width:100%; max-width:1200px; max-height:100vh; overflow-y:auto;")
      .d-flex.justify-content-between.align-items-center.mb-3
        h1.mb-0 Editar Area
        a.btn.btn-gray(href="/areas", tabindex="6") Volver a la lista

      // Contenedor de 1 columnas
      .row.g-3
        // Columna izquierda
        .col-md-6
          .mb-3
            label.form-label(for="name_area") Nombre
            input#name_area.form-control(type="text", name="name_area", value=item.name_area || "", required, tabindex="1")
          .mb-3
            label.form-label(for="description") Descripción
            textarea#description.form-control(name="description" || "", required, tabindex="2").value=item.description
          .mp-3 
            label.form-label(for="is_active") Estado
            select#is_active.form-select(name="is_active", required, tabindex="3")
              option(value="true", selected=item.is_active === true) Activo
              option(value="false", selected=item.is_active === false) Inactivo

      button.btn.btn-success.mt-3(type="submit", tabindex="4") Actualizar Area
      a.btn.btn-danger-soft.mt-3.ms-3(href="/areas", tabindex="5") Cancelar
